@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;500;700;800&display=swap');

/* *, *:before, *:after {
    box-sizing: inherit;
 */

:root {
    --dark-title-color: #48555B;
    --dark-text-color: #48555B;
    --blue-text-color: #00A4E5;
    --outline-card-color: #E6E6E6;
    --light-text-color: #fff;
    --light-btn-color: #fff;
    --background-btn-color: #00A4E5;
    --btn-color: #FFF;  
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'OpenSans', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

p,
h1,
h2,
h3,
ul,
figure {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 941px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.btn {
    width: 150px;
    height: 40px;
    font-size: 13px;
    font-weight: 700;
    line-height: 1;
    border: none;
    cursor: pointer;
    text-transform: capitalize;
    color: var(--btn-color);
    background: var(--background-btn-color);
}

header {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center; /*asdasdasdasd*/
    height: 769px;
}

.header__logo {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}


.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 317px;
}

.header__heading {
    font-family: 'Bebas Neue';
    font-weight: 500;
    font-size: 60px;
    letter-spacing: 5.71px;  
    color: var(--light-text-color);
    text-transform: capitalize;
}

.header__discription {
    font-size: 16px;
    color: var(--light-text-color);
}

.header__subtitle {
    font-size: 11px;
    line-height: 1;
    margin-top: 221px;
    letter-spacing: 3.7px;
    text-align: center;
    cursor: pointer;
    color: var(--light-text-color);
}

/* nav */

.nav__container {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
}

.nav__list {
    display: flex;
}
.nav__item:not(:last-child) {
    margin-right: 40px;
}

/* About */
.about__container {
    margin-top: 58px;
}

.about__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__heading {
    font-size: 18px;
    letter-spacing: 2.31px;
    color: var(--dark-title-color);
}

.line {
    width: 50px;
    height: 2px;
    margin-top: 10px;
    background-image: url('../icons/Line.svg');
}

.about__box {
    display: flex;
    justify-content: space-between;
}

.about__content-text {
    margin-top: 95px;
    width: 405.08px;
    font-size: 20px;
    line-height: 23.44px;
    letter-spacing: 0.19px;
    color: var(--dark-title-color);
}

.text-blue {
    color: var(--blue-text-color);
}

.about__content-description {
    margin-top: 30px;
    width: 390.08px;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.19px;
    color: var(--dark-text-color);
}

.about__img-heading {
    position: absolute;
    font-weight: 700;
    padding-top: 15px;
    padding-left: 14px;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.19px;
    color: var(--light-text-color);
    text-transform: uppercase;
}

.about__list {
    display: flex;
    margin-top: 120px;
}

.about__item:not(:last-child) {
    margin-right: 20px;
}

/* Services */

.services {
    padding-top: 118px;
}

.services__header {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 0;
}

.services__heading {
    font-size: 18px;
    line-height: 21.09px;
    letter-spacing: 2.31px;
    color: var(--dark-title-color);
    margin-right: 154px;
}

.services__description {
    max-width: 405px;
    margin-right: 30px;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: #48555B;

}

.services__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
    margin-top: 80px;
}

.services__card {
    padding: 38px 22px 39px 23px;
    outline: 1px solid var(--outline-card-color);
}

.services__card-heading {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.43px;
    color: var(--dark-title-color);
    margin-top: 25px;
    margin-bottom: 13px;
}

.services__card-description {
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.19px;
    color: var(--dark-text-color);
}

